.timer {
  display: flex;
  margin-top: 15px;
}

.value {
  display: flex;
  justify-content: center;

  font-size: 22px;
}

.label {
  display: flex;
  justify-content: center;

  color: #20b2aa;
}

.label {
  text-transform: uppercase;
}

.field {
  width: 90px;
}

